@import './common/vars.sass'
@import './common/gem.scss'
@import './common/magnific-popup.css'
*
	box-sizing: border-box

html, body
	width: 100%

body,
main
	overflow-x: hidden
canvas
	display: block
	position: fixed
	z-index: 100 // put it to background
	left: 0 // position it to fill the whole screen
	top: 0 // position it to fill the whole screen

body
	display: flex
	flex-direction: column
	font-family: var(--main-font)
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-rendering: optimizeLegibility
	overflow: hidden
	&.loaded2
		overflow: unset
		overflow-x: hidden
		.preloader
			opacity: 0
			pointer-events: unset
	&.mobile-menu-open
		overflow: hidden
	&.modal-active
		overflow: hidden
a
	text-decoration: none
	outline: none

img
	max-width: 100%
	height: auto

.preloader
	position: fixed
	width: 100%
	height: 100vh
	z-index: 999
	transition: all 0.3s ease
	background: #111
	display: flex
	justify-content: center
	align-items: center

section
	position: relative
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.container
	position: relative
	width: var(--container-width)
	min-width: var(--container-width)
	margin: 0 auto

input , textarea
	&::-webkit-input-placeholder,
	&::placeholder
	transition: all .3s
	&:focus
		&::-webkit-input-placeholder,
		&::placeholder
			color: transparent

button
	cursor: pointer


//start here
// .desctop
// 	display: flex
// .mobile
// 	display: none
// .tablet
// 	display: none
// .home
// 	.desctop-line
// 		margin-left: gem(-30)
// 		margin-top: gem(-89)
// 	.desctop-line-course
// 		margin-top: gem(325)
// 	.header	
// 		background: none
// 	.desctop, .mobile, .tablet
// 		z-index: -2
// 		position: absolute
// 		width: 100%
// @media all and (max-width: 1024px)
// 	.home
// 		.tablet-line
// 			margin-top:  gem(-1)
// 		.tablet-line-course
// 			margin-top: gem(200)
// 	.desctop
// 		display: none
// 	.tablet
// 		display: flex
// @media all and (max-width: 480px)
// 	.home
// 		.mobile-line
// 			margin-top: gem(-39)
// 		.mobile-line-course
// 			margin-top: gem(39)
// 	.desctop
// 		display: none
// 	.mobile
// 		display: flex
// 	.tablet
// 		display: none


body
	background: var(--color-black)
.play
	opacity: 1
	transition: all 1s ease
	&.inactive
		opacity: 0

// refactor

.button-wrapper 
	a.access_product
		font-size: gem(15)
		line-height: gem(16.5)
	&.access_course
		width: gem(315)
		height: gem(60)
		margin-top: gem(35)
		margin-bottom: gem(35)
		a
			font-size: gem(20)
			line-height: gem(22)
			font-weight: 500
	&.return_home
		margin-top: gem(35)
		margin-bottom: gem(35)
		width: gem(288)
		height: gem(60)
		a
			font-size: gem(20)
			line-height: gem(22)
			font-weight: 500
.popup_registration
	display: flex
	flex-direction: column
	width: gem(718)
	height: gem(362)
	padding: 0 gem(49)
	padding-top: gem(121)
	background: var(--color-black)
	margin: auto
	p.title-h1
		font-size: gem(25)
		line-height: gem(35)
		font-weight: 400
		text-align: center
		margin-bottom: gem(25)
		background: linear-gradient(89.99deg, #F95721 11.22%, #FC1370 36.24%, #BA2DB2 56.83%, #8342E9 74.03%, #3F89FC 97.9%)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
	p.desc-1
		font-size: gem(20)
		line-height: gem(28)
		font-weight: 400
		text-align: center
	.mfp-close

@media all and (max-width: 480px)
	.popup_registration
		width: gem(375)
		height: auto
		min-height: 100vh
		padding: gem(50) gem(8)
		justify-content: center
		p.title-h1
			margin-bottom: gem(28)
			
// account_dropdown
.logon_main .header-contains 
	.right-part
		position: relative
		.account_dropdown
			display: flex
			flex-direction: column
			align-items: center
			position: absolute
			bottom: gem(-150)
			right: 0
			background: var(--color-white)
			border-radius: gem(2)
			width: gem(108)
			height: gem(125)
			opacity: 0
			pointer-events: none
			transition: all 0.3s ease
			box-shadow: gem(6) gem(6) gem(20) rgba(35, 35, 35, 0.2)
			&.active
				opacity: 1
				pointer-events: unset
			&-triangle
				width: gem(18)
				height: gem(18)
				transform: rotate(45deg)
				background: var(--color-white)
				position: relative
				top: gem(-9)
			a.label-3
				font-size: gem(20)
				line-height: gem(24.3)
				font-weight: 500
				color: var(--color-black)
				margin-bottom: gem(10)
				border-bottom: gem(1) solid var(--color-white)
				transition: all 0.3s ease
				&:hover, &-focus
					border-bottom: gem(1) solid var(--color-black)
			a.label-3:last-child
				margin-bottom: 0
.empty_page
	display: flex
	width: 100% !important
	height: 100vh !important
	align-items: center
	justify-content: center
	p.desc-1
		font-size: gem(30)
		line-height: gem(42)
		color: var(--color-black)
		max-width: gem(900)		
.logon_footer
	display: flex
	align-items: center
	width: 100%
	height: gem(90)
	span.label-3
		font-size: gem(20)
		line-height: gem(24)
		color: #979797
.background-body
	position: fixed
	height: 100vh
	width: 100%
	z-index: 9
	top: 0
	background: rgba(0,0,0,0.5)
	opacity: 0
	pointer-events: none
	transition: all 0.3s ease
.grecaptcha-badge
	font-size: 14px

@import 'main-responsive.sass'
//main pages
@import 'stan.sass'
@import 'stan-responsive.sass'
@import 'trial.sass'
@import 'trial-responsive.sass'
@import 'edm.sass'
@import 'dance.sass'
@import 'tnx.sass'
@import 'registration.sass'
//account interface pages
@import 'account.sass'
//что это
@import 'info.sass'
@import 'lesson-menu.sass'
// до сюда
//terms, privacy...
@import 'terms.sass'
@import 'privacy.sass'
@import 'cookies.sass'
//all blocks
@import 'blocks/**/*'

// @import 'payment.sass'
// @import 'info.sass'
// @import 'payment.sass'
// @import 'cart.sass'
// @import 'trial-popup.sass'
// @import 'logon.sass'
