
main.home
	position: relative
.sale
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: gem(33) gem(33) gem(15) gem(33)
	background: #FC1370
	z-index: 100
	p
		font-size: gem(30)
		line-height: gem(42)
		margin-bottom: gem(15)
		text-align: center
		b
			font-weight: bold
	a
		font-size: gem(25)
		line-height: gem(35)
		position: relative
		&::before
			position: absolute
			content: ''
			bottom: gem(4)
			background: #FFFFFF
			width: 100%
			height: gem(1)
			transition: 0.3s all ease
	a:hover
		&::before
			opacity: 0

// sale responsive

.hero
	margin-bottom: gem(55)
	&-photo
		position: absolute
		z-index: -1
		top: 0
		left: 0
		width: 100%
		&-tablet
			display: none
		&-mobile
			display: none
	&-price
		font-family: var(--accent-font)
		margin-top: gem(16)
		margin-bottom: gem(18)
		display: flex
		align-items: flex-end
		span
			font-size: gem(60)
			line-height: gem(84)
			color: #fff
			&.sale-price
				color: #FC1370
				font-family: var(--sub-font)
				margin-right: gem(35)
				font-size: gem(70)
				line-height: gem(77)
				margin-top: gem(4)
		span.fullprice
			font-size: gem(30)
			line-height: gem(33)
			color: rgba(255, 255, 255, .5)
			text-decoration: line-through
			margin-bottom: gem(10)
	&-section
		display: flex
		flex-direction: column
		align-items: flex-start
		h1
			margin-top: 0
			position: relative
			text-transform: uppercase
			font-size: gem(60)
			line-height: gem(84)
			color: #E9E9E9
			&:before
				display: block
				content: ''
				width: 75%
				z-index: -1
				height: 100%
				position: absolute
				top: gem(-25)
				left: gem(-37)
				border-radius: 100%
				background: rgba(17, 17, 17, 0.8)
				filter: blur(16px)
		p.label-1
			font-size: gem(28)
			line-height: gem(30)
			margin-bottom: gem(14)
			margin-top: gem(18)
		&-buttons
			display: flex
			margin-top: gem(36)
		.button-wrapper
			width: gem(297)
			&.access-wrapper
				width: gem(320)
			&.loading::after
				display: flex
				width: 100%
				height: 100%
				position: absolute
				z-index: 2
				opacity: 0.7
			&:first-child
				margin-right: gem(41)
		&-video
			position: relative
			margin: auto
			margin-top: gem(175)
			width: gem(800)
			height: unset
			z-index: 4
			video
				width: 100%
				height: 100%
				background: #111111
			.play
				position: absolute
				left: gem(350)
				top: gem(173)
				z-index: 5
				cursor: pointer
	&-advantages
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
		width: gem(1226)
		align-self: center
		margin-top: gem(100)
		p
			font-family: var(--main-font)
			font-size: gem(23)
			line-height: gem(32	)
			color: #fff
			width: gem(300)
			text-align: center
			padding: gem(21) 0
			&:nth-child(2)
				width: gem(486)
				padding: gem(21) gem(95)
				border-right: #FAFAFA gem(2) solid
				border-left: #FAFAFA gem(2) solid
	.bacground-item
		top: gem(0)
.stan-about
	&-section
		margin-top: gem(255)
		h2
			text-align: center
			// margin-top: gem(338)
			line-height: gem(85)
			margin-bottom: gem(70)
	&-main
		display: flex
		flex-direction: row
		align-items: flex-start
		justify-content: space-between
		margin-bottom: gem(35)
		&-left
			width: gem(637)
			display: flex
			position: relative
			margin-top: gem(30)
			img
				width: 100%
				height: 100%
			a
				position: absolute
				width: gem(247)
				height: gem(70)
				top: 50%
				left: 50%
				margin-top: gem(-35)
				margin-left: gem(-124)
				display: flex
				justify-content: center
				align-items: center
				color: #fff
				font-family: var(--sub-font)
				font-size: gem(20)
				line-height: gem(22)
				background: url(../images/dist/watch-now.png)
				background-size: 100% 100%
				background-repeat: no-repeat
		&-right
			width: gem(628)
			display: flex
			flex-direction: column
			align-items: center
			ul
				li
					font-family: var(--main-font)
					font-size: gem(28)
					line-height: gem(39)
					color: #F4F5F6
					max-width: gem(505)
					margin-bottom: gem(30)
					&:last-child
						margin-bottom: 0
					&::before
						display: block
						position: absolute
						content: ''
						width: gem(10)
						height: gem(10)
						margin-left: gem(-20)
						margin-top: gem(10)
						background: url(../images/dist/check.svg)
						background-repeat: no-repeat
						background-size: 100% 100%
	&-more
		display: none
	&-bottom
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: flex-start
		&-left
			display: flex
			align-items: center
			margin-top: gem(36)
			img
				width: gem(82)
				margin-right: gem(14)
			&-text
				display: flex
				flex-direction: column
				justify-content: center
				max-width: gem(483)
			h3
				font-family: var(--accent-font)
				font-size: gem(18)
				line-height: gem(30)
				color: #fff
				margin-bottom: gem(4)
			p
				font-family: var(--main-font)
				font-size: gem(15)
				line-height: gem(21)
				margin-bottom: 0
				color: #F4F5F6
		&-right
			display: flex
			flex-direction: row
			margin-top: gem(38)
			align-items: center
			justify-content: space-between
			align-self: stretch
			.price-container
				display: flex
				margin-right: gem(38)
				margin-right: gem(54)
				span
					display: block
					font-family: var(--sub-font)
					font-size: gem(80)
					line-height: gem(88)
					
					color: #fafafa
					&.sale-price
						padding: 0
						background: none
						z-index: unset
						color: #fc1370
						font-family: var(--sub-font)
						margin: 0
						font-size: gem(70)
						line-height: gem(62)
					&.fullprice
						color: hsla(0,0%,100%,.5)
						font-size: gem(20)
						line-height: gem(28)
						text-align: center
						align-self: flex-end
						text-decoration: line-through
						margin-left: gem(13)
			.button-wrapper
				width: gem(292)
				height: gem(80)
				&.access-wrapper
					width: gem(312)
.video-popup
	display: flex
	width: gem(1000)
	justify-content: center
	margin: auto
	video
		width: 100%
		height: 100%
.lesson
	padding-bottom: gem(210)
	background: var(--color-black)
	margin-top: gem(200)
	&-section
		display: flex
		flex-direction: column
		justify-content: center
		&-title
			margin-bottom: gem(103)
			display: flex
			flex-direction: column
			align-items: center
			span
				font-family: var(--sub-font)
				color: #979797
				font-size: gem(40)
				line-height: gem(40)
				margin-bottom: gem(40)
			h2
				text-align: center
				margin: auto
				width: gem(1114)
				padding-right: gem(8)
		&-content
			display: flex
			flex-direction: row
			justify-content: space-between
			width: 100%
		&-title-small
			display: flex
			flex-direction: column
			justify-content: flex-start

		&-main
			display: flex
			flex-direction: column
			&-element
				display: flex
				flex-direction: column
				justify-content: center
				align-items: flex-start
				// margin-right: gem(100)
				height: gem(402)
				position: relative

				p.desc-1
					max-width: gem(660)
					color: #F4F5F6
				h3
					margin-top: gem(19)
					margin-bottom: gem(22)
					max-width: gem(660)
				h3.title-h4
					line-height: 120%
				&.active		
		&-video
			top: gem(50)
			right: 0
			width: gem(550)
			position: absolute	
			height: auto
			z-index: 4
			video
				width: 100%
				height: auto
			.play
				position: absolute
				left: gem(220)
				top: gem(95)
				z-index: 5
				width: gem(100)
				cursor: pointer
		.button-wrapper
			height: gem(66)
			width: gem(236)
			margin: auto
			z-index: 4
			cursor: pointer
			span
				z-index: 5
		.button-wrapper:before
			opacity: 0.85
		.contentMore.active
			.lesson-section-main-element:nth-child(1n+3)
				display: flex

#small-dialog
	background: #111111
	padding: gem(40) gem(30)
	overflow: hidden
	text-align: left
	max-width: 95%
	margin: gem(20) auto
	position: relative
	pointer-events: unset
	.button-wrapper
		width: gem(200)
		margin: auto
		margin-top: gem(50)
	.lesson-section-main-element
		transform: none
		opacity: 1

.price
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	&-section
		h2
			text-align: center
			margin-bottom: gem(138)
	.price-container
		display: flex
		span
			color: #fc1370
			display: block
			font-family: var(--sub-font)
			font-size: gem(70)
			line-height: gem(62)
			margin: 0
			z-index: 1
		span.fullprice
			color: hsla(0,0%,100%,.5)
			font-size: gem(20)
			line-height: gem(28)
			text-align: center
			align-self: flex-end
			text-decoration: line-through
			margin-left: gem(13)
			margin-bottom: gem(9)
	&-desc	
		background: linear-gradient(90.34deg, #FEBD2F 0.33%, #F95721 25.43%, #FC1370 51.09%, #BA2DB2 68.14%, #8342E9 78.65%, #3F89FC 97.57%)
		width: 100%
		border-radius: gem(10)
		position: relative
		display: flex
		flex-direction: row
		align-items: flex-start
		justify-content: center
		padding: gem(99) 0 gem(55) 0	
		&::before
			position: absolute
			content: ''
			display: block
			background: #111111
			border-radius: gem(10)
			width: calc(100% - 4px)
			height: calc(100% - 4px)
			top: 2px
			left: 2px
		h3
			font-family: var(--accent-font)
			font-size: gem(25)
			line-height: gem(48)
			color: #F4F5F6
			position: absolute
			// margin-top: gem(57)
			text-transform: uppercase
			letter-spacing: 1px
			// margin-bottom: gem(16)
			top: gem(58)
			left: gem(206)
			display: none
		&-left
			margin-right: gem(153)

		ul 
			width: gem(497)
			li
				font-family: var(--main-font)
				font-size: gem(23)
				line-height: gem(32)
				color: #F4F5F6
				position: relative
				padding-left: gem(30)
				margin-bottom: gem(23)
				&::before
					display: block
					position: absolute
					content: ''
					width: gem(10)
					height: gem(10)
					margin-left: gem(-20)
					margin-top: gem(10)
					background: url(../images/dist/check.svg)
					background-repeat: no-repeat
					background-size: 100% 100%
		&-bottom
			display: flex
			justify-content: space-between
			align-items: center
			flex-direction: row
			position: relative
			margin-top: gem(63)
			.price-container
				margin-right: gem(23)
				span
					display: block
					font-family: var(--accent-font)
					margin-right: gem(86)
					font-size: gem(50)
					line-height: gem(50)
					color: #fff
					&.sale-price
						font-size: gem(50)
						line-height: gem(50)
						color: #fc1370
						margin-right: gem(4)
					&.fullprice
						font-size: gem(20)
						text-align: center
						color: rgba(255, 255, 255, .5)
						line-height: 1.2
						text-decoration: line-through
						margin-right: 0
			.button-wrapper
				a
					width: gem(176)
					height: gem(54)
					font-size: gem(20)
					line-height: gem(22)
				&.access-wrapper a
					width: gem(256)
	&-name
		width: 100%
		position: relative
		display: flex
		align-items: flex-start
		justify-content: flex-start
		margin-top: gem(58)
		img
			width: 100%
			height: 100%
		&-left
			position: relative
			margin-right: gem(44)
			margin-left: gem(50)
			width: gem(647)
			p
				font-family: var(--sub-font)
				text-transform: uppercase
				font-size: gem(37)
				line-height: gem(52)
				color: #E9E9E9
				position: absolute
				left: gem(38)
				top: gem(149)			
				width: gem(613)
		&-right
			display: flex
			align-items: center
			&-content
				display: flex
				flex-direction: column
				align-items: center
				position: relative
				width: gem(430)
			img
				width: gem(319)
				height: auto
				position: absolute
				top: gem(94)
				left: gem(55)
				z-index: -1
			.plus
				font-family: var(--sub-font)
				font-size: gem(100)
				line-height: gem(140)
				color: #fff
				margin-right: gem(45)
			h3
				font-family: var(--accent-font)
				text-transform: uppercase
				font-size: gem(67)
				line-height: gem(67)
				margin-top: gem(-4)
				color: #FAFAFA
				margin-bottom: gem(87)
			h4
				font-family: var(--sub-font)
				font-size: gem(29)
				line-height: gem(41)
				color: #fafafa
				max-width: gem(296)
				margin-bottom: gem(64)
			p
				font-family: var(--sub-font)
				font-size: gem(30)
				line-height: gem(42)
				color: #fff
				text-transform: uppercase
				display: flex
				align-items: center
				// margin-left: gem(10)
				span
					text-transform: none
					font-size: gem(15)
					line-height: gem(21)
					color: #979797
					margin-left: gem(9)
	&-mark
		background: linear-gradient(90.34deg, #FEBD2F 0.33%, #F95721 25.43%, #FC1370 51.09%, #BA2DB2 68.14%, #8342E9 78.65%, #3F89FC 97.57%)
		backdrop-filter: blur(10px)
		border-radius: gem(11)
		width: gem(235)
		height: gem(75)
		padding: gem(2)
		position: absolute
		top: gem(-51)
		// left: gem(-26)
		&-inner
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			border-radius: gem(10)
			height: 100%
			width: 100%
			background: rgba(0,0,0,0.7)
		span
			font-size: gem(20)
			font-family: var(--accent-font)
			text-transform: uppercase
			// font-weight: 500
			line-height: gem(25)
			color: #ffffff
			// z-index: 2
	&-bottom
		display: flex
		align-items: center
		position: absolute
		z-index: 2
		bottom: gem(100)
		img
			width: gem(109)
			margin-right: gem(33)
		&-text
			display: flex
			flex-direction: column
			max-width: gem(490)
		h3
			font-family: var(--accent-font)
			font-size: gem(23)
			line-height: gem(30)
			color: #fff
			margin-bottom: gem(14)
		p
			font-family: var(--main-font)
			font-size: gem(20)
			line-height: gem(28)
			color: #F4F5F6


.story
	&-section
		display: flex
		flex-direction: column
		position: relative
		h2
			margin-bottom: gem(104)
			font-size: gem(60)
			line-height: gem(84)
			text-align: center
		&-pics
			width: gem(704)
			height: auto
			position: absolute
			top: gem(170)
			img
				width: 100%
		&-text
			display: flex
			flex-direction: column
			align-items: flex-end
			position: relative
			h3, p
				max-width: gem(630)
			h3
				margin-bottom: gem(53)
				z-index: 2
			p:last-child
				margin-top: gem(30)
			.roll-block
				p
					margin-bottom: gem(30)
					font-family: var(--main-font)
					font-size: gem(20)
					line-height: gem(32)
					color: #F4F5F6
					
		.social
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			margin-top: gem(-20)
			img
				width: gem(50)
				height: 100%
			a
				display: flex
				margin-right: gem(18)	

.need
	margin-bottom: gem(158)
	margin-top: gem(200)
	background: var(--color-black)
	&-section
		display: flex
		flex-direction: column
		&-title
			margin-bottom: gem(59)
			text-align: center
			h2.title-h2
				font-size: gem(70)
				line-height: gem(70)
		&-main
			display: flex
			justify-content: space-between
			align-items: flex-start
		&-pics
			width: gem(613)
			margin-left: gem(6)
			margin-top: gem(60)
			img
				width: 100%
		&-text
			display: flex
			flex-direction: column
			margin-top: gem(4)
			margin-right: gem(10)
			&-element
				display: flex
				flex-direction: column
				margin-bottom: gem(40)
				position: relative
				&:last-child
					margin-top: gem(-25)
				p.title-h4
					margin-bottom: gem(25)
				a
					text-decoration: underline
				.os
					display: flex
					margin-top: gem(12)
					margin-bottom: gem(27)
					span
						border-bottom: gem(1) var(--color-grey) solid
						cursor: pointer
						margin-right: gem(15)
						&:hover
							border-bottom: gem(1) #111111 solid			  
						&.active
							border-bottom: gem(1) #111111 solid
							font-weight: 500

					&-list
						background: var(--color-white)
						width: gem(526)
						height: auto
						padding: gem(68) 0
						display: none
						justify-content: center
						align-items: center
						position: relative
						top: 0
						transition: all 1s ease
						.close
							width: gem(30)
							height: gem(30)
							position: absolute
							right: gem(20)
							top: gem(20)
							// background: #111111
							display: flex
							align-items: center
							justify-content: center
							cursor: pointer
							span
								display: block
								content: ''
								top: gem(15)
								background: #111111
								width: 70%
								height: gem(2)
								transform: rotate(45deg)
								position: absolute		
								&:nth-child(1)
									transform: rotate(-45deg)
						ul
							width: gem(418)
							height: auto
						li
							margin-bottom: gem(17)
							margin-left: gem(16)
							position: relative
							&::before
								content: ""
								position: absolute
								left: gem(-16)
								top: gem(10)
								width: gem(10)
								height: gem(3)
								background: var(--color-black)
							&:last-child
								margin-bottom: 0
						&.active
							display: flex
							pointer-events: auto

.details
	margin-top: gem(186)
	margin-bottom: gem(197)
	background: var(--color-black)
	&-section
		&-title
			margin-bottom: gem(121)
			h2
				text-align: center
				padding-left: gem(35)
		&-pics
			height: gem(160)
		&-text
			margin-top: gem(4)
			p.title-h9
				letter-spacing: 1px
				font-weight: 500
				margin-bottom: gem(16)
				color: #F4F5F6
				&.sub
					letter-spacing: normal
					font-weight: 400
					font-size: gem(20)
					line-height: gem(28)
					font-family: var(--main-font)
		&-main
			display: flex
			justify-content: center
			flex-wrap: wrap

			&-element
				display: flex
				align-items: center
				flex-direction: column
				max-width: gem(383)
				// margin: gem(0) gem(80)
				margin-right: gem(90)
				img
					width: gem(141)
				.title-h9
					&:first-child

						font-size: gem(23)
						line-height: gem(27)
				&:nth-child(3)
					position: relative
					margin-right: gem(0)
				&:nth-child(4)

					margin-top: gem(100)
					margin-right: gem(100)

				&:nth-child(5)
					margin-right: 0
					margin-top: gem(100)

.free
	background: #111111
	padding-bottom: gem(185)
	h2
		margin-bottom: gem(95)
	h3
		margin-bottom: gem(69)
	&-contains

		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start
	&-mark
		background: linear-gradient(90.34deg, #FEBD2F 0.33%, #F95721 25.43%, #FC1370 51.09%, #BA2DB2 68.14%, #8342E9 78.65%, #3F89FC 97.57%)
		backdrop-filter: blur(10px)
		border-radius: 100%
		width: gem(150)
		height: gem(150)
		padding: gem(2)
		position: absolute
		top: gem(-39)
		left: gem(-26)
		&-inner
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			border-radius: 100%
			height: 100%
			width: 100%
			background: rgba(0,0,0,0.7)
		span
			font-size: gem(20)
			font-family: var(--sub-font)
			font-weight: 500
			line-height: 120%
			color: #ffffff
	&-wrapper
		display: flex
		flex-direction: row
		align-items: flex-start
		justify-content: center
	&-left
		position: relative
		
		img
			width: gem(600)
	&-right
		display: flex
		flex-direction: column
		align-items: flex-start
		width: gem(666)
		margin-top: gem(70)
		margin-left: gem(44)
		h4
			margin-bottom: gem(10)
			font-size: gem(40)
			line-height: gem(48)
		&-subtitle
			color: #FC1370
			font-family: var(--main-font-bold)
			font-size: gem(15)
			line-height: gem(21)
			text-transform: uppercase
			margin-bottom: gem(28)
		p.desc-1
			margin-bottom: gem(28)
			color: #B3B2B8
		.button-wrapper
			width: gem(191)
			a
				font-size: gem(20)
				line-height: gem(22)
			
.questions
	padding-top: gem(116)
	padding-bottom: gem(128)
	margin-top: gem(235)
	background: var(--color-white)
	&-section
		&-title
			margin-bottom: gem(79)
			h2
				text-align: center
				white-space: nowrap
		&-main
			display: flex
			justify-content: center
		&-list
			display: flex
			flex-direction: column
			max-width: gem(770)
			margin-left: gem(-35)
			&-element
				display: flex
				flex-direction: column
				position: relative
				margin-bottom: gem(50)
				width: gem(770)
				.openQuestion
					padding-left: gem(35)
					cursor: pointer
					letter-spacing: normal
					line-height: gem(30)
					&::before
						content: ""
						position: absolute
						left: 0
						top: gem(13)
						width: gem(14)
						height: gem(1)
						background: var(--color-black)
						transition: 0.3s all ease
					&::after
						content: ""
						position: absolute
						left: 0
						top: gem(13)
						width: gem(14)
						height: gem(1)
						background: var(--color-black)
						transform: rotate(90deg)
						transition: 0.3s all ease
				.openQuestion.active
					&::after
						transform: rotate(180deg)
						transition: 0.3s all ease
					&::before
						transform: rotate(180deg)
						transition: 0.3s all ease
				.contentQuestion
					margin-top: gem(10)
					margin-left: gem(35)
					position: relative
					display: none
					a
						display: inline
				.contentQuestion.active
					display: flex
					flex-direction: column
					ul
						list-style: disc  
						padding-left: gem(20)
						margin-top: gem(20)
					p
						margin-top: gem(20)
				p.contentQuestion.active
					display: inline
			&-element:last-child
				margin-bottom: 0

@keyframes spaceman 
	0%
		transform: translateY(gem(20)) rotate(-5deg)
	50%
		transform: translateY(gem(-20)) rotate(5deg)
	100%
		transform: translateY(gem(20)) rotate(-5deg)