@media all and (max-width: 1024px)
	.hero
		margin-bottom: gem(35)
		&-section
			h1
				margin-top: gem(124.8)
				line-height: gem(50)
			p
				margin-top: gem(29)
				max-width: gem(445)
				font-size: gem(25)
				line-height: gem(27)
			.button-wrapper
				margin-top: gem(30)
			&-video
				width: gem(600)
				margin-top: gem(110)
				video
					background: none
				.play
					width: gem(62)
					left: gem(275)
					top: gem(140)

	.lesson
		padding-bottom: gem(140)
		&-section
			&-title
				margin-bottom: gem(42)
				h2
					width: 100%
					margin: 0
					text-align: center
			&-pics
				margin-top: gem(-13)
				.lesson-section-video
					width: gem(240)
					margin-top: 0
					position: relative
					top: unset
					right: unset
					.play
						width: gem(65)
						left: gem(95)
						top: gem(32)
			&-main
				&-element
					margin-right: 0
					height: auto
					margin-bottom: gem(20)
					h3
						margin-top: gem(9)
						margin-bottom: gem(32)
					.lesson-section-text
						.subtitle-1
						h3
							max-width: unset
							margin-bottom: gem(36)

						.desc-1
							max-width: gem(400)
						.title-h4
							margin-top: gem(9)
							margin-bottom: gem(31)
							font-size: gem(30)
				&-element.active
					height: gem(216)
					margin-bottom: gem(55)
			&-main-element.active:last-child
				margin-bottom: 0
			.button-wrapper
				width: gem(200)
				height: gem(40)
				margin-top: gem(-7)
			&-text
				height: auto
	
	.story
		margin-bottom: gem(95)
		padding-top: 0
		&-section
			&-text
				display: flex
				flex-direction: column
				align-items: flex-end
				position: relative
				top: gem(-40)
				width: 100%
				h3, p
					width: 100%
					max-width: gem(420)
				h3
					text-align: left
					margin-bottom: gem(20)
				p:last-child
					margin-top: gem(30)
				.roll-block.visible
					transform: translateY(0)
				.roll-block
					p
						font-size: gem(15)
						line-height: gem(24)
			&-pics
				width: 100%
				height: gem(461)
				overflow: hidden
				img
					transform: scale(1.17) translateX(gem(-52)) translateY(gem(27))
					width: 100%

	.need
		margin-bottom: gem(87)
		padding-bottom: 0
		&-section
			&-title
				margin-bottom: gem(54)
				h2
					text-align: center
					&.title-h2
						font-size: gem(50)
						line-height: 100%
			&-main
			&-pics
				width: gem(350)
				margin-left: gem(0)
				margin-top: gem(75)
			&-text
				max-width: 100%
				margin-right: gem(0)
				&-element
					margin-bottom: gem(30)

					p.title-h4
						margin-bottom: gem(10)
						font-size: gem(25)
						line-height: 126%
					p.desc-2
						font-size: gem(15)
						line-height: 120%
						a.desc-2
							font-size: gem(15)
							line-height: 126%
					.os
						span.desc-2
							font-size: gem(15)
							line-height: 126%
						&-list
							width: 100%
							padding: gem(32) gem(32)
							li
								margin-bottom: gem(20)
								&:before
									top: gem(5)
	.details
		margin-bottom: gem(90)
		padding-bottom: 0
		&-section
			&-title
				margin-bottom: gem(70)
				h2
					padding-left: 0
			&-main
				&-element
					margin-right: gem(40)
					position: relative
					margin-bottom: gem(85)
					.title-h9
						text-align: center
						&.sub
							text-align: left
					&:nth-child(1)
						order: 1
						left: gem(-20)

						.title-h9:first-child
							text-align: left
					&:nth-child(2)
						order: 3
						left: gem(-20)
					&:nth-child(3)
						order: 2
						right: gem(-20)
						.title-h9:first-child
							text-align: left
						.details-section-text
							margin-top: gem(5)
					&:nth-child(4)
						margin-left: gem(0)
						margin-right: gem(0)
						margin-top: gem(5)
						order: 4
						right: gem(-20)
					&:nth-child(5)
						order: 5
						margin-top: gem(-56)
						margin-bottom: 0
						.details-section-text .title-h9
							max-width: 100%
	.questions  
		padding-bottom: gem(106)
		padding-top: gem(107)
		&-section
			&-title
				margin-bottom: gem(70)
				h2.title-h1
					font-size:  gem(45)
					line-height: gem(45)
				.title-h2.black
					font-size: gem(45)
					line-height: gem(45)
					br
						display: none
			&-main
				justify-content: flex-start
			&-list
				margin-left: gem(20)
				&-element
					width: 100%
					margin-bottom: gem(50)
					.openQuestion
						padding-left: gem(39)
						cursor: pointer
						font-size: gem(20)
						line-height: gem(24)
						&::before
							left: 0
							top: gem(11)
							width: gem(11)
						&::after
							left: 0
							top: gem(11)
							width: gem(11)
					.contentQuestion
						margin-top: gem(20)
	
	.free
		padding-bottom: gem(120)
		h2.title-h1
			font-size: gem(60)
			line-height: gem(60)
			text-align: center
			margin-bottom: gem(43)
		h3
			margin-bottom: gem(41)
		&-right
			margin-top: gem(0)
			margin-left: gem(31)
		&-left
			margin-top: gem(30)

			img
				width: gem(300)
		&-right
			width: gem(385)
			h4
				margin-bottom: gem(16)
			p
				margin-bottom: gem(24)
			.button-wrapper
				width: gem(200)
				height: gem(40)
				a
					font-size: gem(15)
					line-height: gem(17)
		&-mark
			width: gem(100)
			height: gem(100)
			top: gem(-30)
			left: gem(-19)
			span
				font-size: gem(13)
				line-height: gem(16)
	
@media all and (max-width: 480px)
	.hero
		margin-bottom: gem(15)
		&-section
			h1
				margin-top: gem(100)
				line-height: gem(52)
			p
				margin-top: gem(40)
				position: relative
				font-size: gem(20)
				line-height: gem(21)
				max-width: 80%
				font-weight: normal
				&:before
					display: block
					content: ''
					width: 100%
					z-index: -1
					height: 100%
					position: absolute
					top: 0
					background: rgba(17, 17, 17, 0.8)
					filter: blur(16px)
			.button-wrapper
				margin-top: gem(24)
				width: gem(120)
				height: gem(40)
				a
					font-size: gem(12)
			&-video
				width: gem(300)
				margin: auto
				margin-top: gem(95)
				// margin-left: gem(15)
				height: unset
				display: flex
				align-items: center
				justify-content: center
				.play
					width: gem(40)
					height: auto
					left: gem(140)
					top: gem(60)
					
	#small-dialog
		.button-wrapper
			height: gem(40)

	.lesson
		margin-bottom: gem(80)
		padding-bottom: 0
		&-section
			&-title
				margin-bottom: gem(53)
				&-small
					width: 100%
					text-align: left
					margin-bottom: gem(-5)
			&-main
				&-element.active
					flex-direction: column
					align-items: center
					height: auto
					// margin-bottom: gem(201)
			&-content
				flex-direction: column-reverse
			&-text
				p
					line-height: gem(21)
					color: #F4F5F6
			&-pics
				// margin-top: gem(-400)
				display: flex
				justify-content: center
				.lesson-section-video
					width: gem(295)
					.play
						width: gem(76)
						left: gem(120)
						top: gem(40)
			.button-wrapper
				margin-top: gem(2)
				span
					font-size: gem(15)

	.story
		margin-bottom: 0
		overflow: hidden
		&-section
			&-pics
				img
					transform: unset
			&-text
				top: gem(-249)
				align-items: flex-start
				h3
					max-width: gem(274)
					margin-bottom: gem(15)
				p:last-child
					margin-top: gem(24)
		.social
			justify-content: center

	
	.details-section-main
		flex-direction: column
		align-items: center

	.need
		margin-bottom: gem(52)
		&-section
			&-main
				flex-direction: column
				align-items: flex-start
			&-title
				margin-bottom: 0
				h2.title-h2
					font-size: gem(25)
					line-height: gem(25)
			&-pics
				margin-top: gem(20)
				width: gem(364)
				height: gem(178)
				position: relative
				left: gem(-15)
			&-text
				margin-top: gem(30)
				&-element
					.title-h4
						font-size: gem(20) !important 
						line-height: 126.5% !important 
						margin-bottom: gem(20) !important
				&-element:nth-child(2)
					// margin-bottom: gem(19)
					margin-top: gem(0)

	.free 
		padding-bottom: gem(80)
		h2.title-h1
			font-size: gem(30)
			line-height: gem(30)
		h2
			margin-bottom: gem(30)
		h3
			text-align: center
			margin-bottom: gem(37)
		&-wrapper
			flex-direction: column
			align-items: center
			justify-content: flex-start
		&-left
			align-self: flex-end
			width: gem(300)
			img
				right: gem(-8)
				width: gem(300)
		&-mark
			top: gem(-18)
			left: gem(-48)
			span
				font-size: gem(12)
				line-height: gem(14)
		&-right
			width: 100%
			margin-left: 0
			margin-top: gem(-48)
			z-index: 9
			// margin-bottom: gem(36)
			p.desc-1
				font-size: gem(18)
				margin-bottom: gem(36)
			h4
				max-width: gem(300)
				font-size: gem(30)
				line-height: gem(48)
			.button-wrapper
				align-self: center

	.details
		margin-bottom: gem(62)
		&-section
			&-title
				h2
					font-size: gem(30)
					line-height: gem(30)
			&-main
				margin-left: gem(-5)
				&-element
					margin-bottom: gem(59)
				&-element:nth-child(1), &-element:nth-child(2), &-element:nth-child(3), &-element:nth-child(4), &-element:nth-child(5)
					left: 0
					margin-right: 0
					margin-left: 0
					p.title-h9.sub
						margin-left: gem(5)
				
				&-element:nth-child(1)
					margin-bottom: gem(54)
					p.title-h9:first-child
						margin-left: gem(10)
					img
						margin-left: gem(6)
					p.title-h9.sub
						margin-left: gem(23)
				&-element:nth-child(2)
					order: 2
					.details-section-text
						margin-top: gem(5)
						p.title-h9:first-child
							margin-left: gem(11)
				&-element:nth-child(3)
					img
						margin-left: gem(7)
					p.title-h9:first-child
							margin-left: gem(16)
							margin-top: gem(10)
				&-element:nth-child(4)
					img
						margin-left: gem(7)
						margin-top: gem(-10)
					p.title-h9:first-child
						margin-top: gem(-11)
				&-element:nth-child(5)
					margin-top: gem(-17)
					img
						margin-left: gem(10)
						margin-top: gem(-10)
					p.title-h9:first-child
						margin-top: gem(-11)
			&-text
				p.title-h9
					text-align: center !important
					margin-bottom: gem(18)
				p.title-h9.sub
					text-align: left !important

	.questions
		padding-top: gem(23)
		padding-bottom: gem(54)
		&-section
			&-title
				margin-bottom: gem(49)
				h2.title-h1
					font-size: gem(35)
					line-height: 100%
					white-space: unset
			&-list
				margin-left: 0
				&-element
					margin-left: 0
					margin-bottom: gem(48)
					.openQuestion
						font-size: gem(14.5)
						line-height: gem(21)
						padding-left: 0
						padding-right: gem(26)
						&::before, &::after
							left: unset
							right: 0
							width: gem(20)
					.contentQuestion.active
						margin-left: 0
	