@media all and (max-width: 1024px)
	// main.trial
	// 	.header-contains
	// 		.logo
	// 			margin-top: gem(37)
	// 		.link
	// 			margin-top: gem(49)
	// 			font-weight: 400
	// 			margin-right: gem(-12)
	.bacground-item
		display: none
	.dive
		margin-top: gem(117)
		margin-bottom: gem(265)
		padding-bottom: 0
		&-section
			&-text
				margin-top: gem(-4)
				h1
					font-size: gem(50)
					line-height: gem(60)
				p
					margin-top: gem(52)
					max-width: gem(398)
					margin-bottom: gem(44)
					font-size: gem(25)
					line-height: gem(30)
				.button-wrapper
					width: gem(220)
					.button
						font-size: gem(20)
						line-height: gem(22)
			&-pics
				margin-right: gem(-21)
				&-circle
					margin-top: gem(-80)
					&-text
						top: gem(-110)
						span
							font-size: gem(20)
							line-height: gem(24)
		.dive-img
			width: gem(678)
			top: gem(2)
			right: gem(-94)
	.masterclass
		margin-bottom: gem(118)
		padding-bottom: 0
		&-section
			&-text
				position: relative
				width: gem(390)
				h3
					position: absolute
					top: gem(-120)
					left: gem(-317)
					font-size: gem(55)
					line-height: gem(66)
					width: gem(700)
				p
					margin-left: 0
					margin-top: gem(23)
					font-size: gem(15)
					line-height: gem(21)
					margin-bottom: gem(20)
				&-bottom
					&-main
						flex-wrap: wrap
						margin-left: 0
						margin-bottom: gem(20)
						&-element
							height: gem(50)
							margin-right: 0
							span
								margin-top: gem(8)
								margin-left: gem(10)
							span:last-child
								margin-top: gem(3)
							span.title-h7
								font-size: gem(8)
								line-height: gem(9.6)
							span.desc-1
								font-size: gem(20)
								line-height: gem(24)
						&-element:nth-child(1)
							width: gem(153)
							margin-right: gem(49)
						&-element:nth-child(2)
							width:	gem(382)
							margin-top: gem(10)
							order: 2
						&-element:nth-child(3)
							width: gem(179)
					&-button
						display: flex
						justify-content: center
						.button-wrapper
							margin-left: 0
							width: gem(220)
							.button
								font-size: gem(20)
								line-height: gem(22)
			&-pics
				width: gem(300)
				height: gem(300)
	.teaching
		margin-bottom: gem(109)
		&-section
			justify-content: unset
			position: relative
			&-text
				margin-top: 0
				width: unset
				margin-right: gem(25)
				h3
					font-size: gem(40)
					line-height: gem(56)
					max-width: gem(403)
					margin-bottom: gem(31)
				p
					font-size: gem(15)
					line-height: gem(24)
					max-width: gem(392)
					margin-bottom: gem(24)
			&-pics
				position: absolute
				width: gem(350)
				height: gem(437)
				right: gem(-41)
				top: gem(73)
	.more
		margin-bottom: gem(70)
		&-section
			&-title
				margin-left: 0
				margin-bottom: gem(73)
				h2
					font-size: gem(54.2)
					line-height: gem(60.5)
			&-text
				margin-left: gem(108)
				h3
					font-size: gem(50)
					line-height: gem(60)
					max-width: gem(452)
					margin-bottom: gem(7)
					z-index: 5
				span
					font-size: gem(20)
					line-height: gem(32)
					z-index: 5
				p
					font-size: gem(15)
					line-height: gem(24)
					margin-top: gem(18)
					max-width: gem(418)
					margin-bottom: gem(29)
					z-index: 5
				.rainbow-tablet
					display: flex
					width: 120%
					height: auto
					position: absolute
					top: gem(116)
					left: gem(-70)
					max-width: unset
					z-index: -5
				&-bottom 
					.button-wrapper
						width: gem(220)
						height: gem(60)
						.button
							font-size: gem(20)
							line-height: gem(22)
@media all and (max-width: 480px)
	.dive
		margin-top: gem(108)
		margin-bottom: 0
		&-section
			flex-direction: column-reverse
			&-pics
				display: flex
				width: 100%
				justify-content: flex-end
				&-circle
					width: gem(100)
					height: gem(100)
					margin: 0
					flex-direction: column
					right: gem(-2)
					margin-top: gem(-100)
					&-text
						top: gem(-77)
						right: gem(-2)
						position: absolute
						span
							font-size: gem(15)
							line-height: gem(18)
			&-text
				margin-top: gem(139)
				margin-bottom: gem(80)
				h1
					font-size: gem(40)
					line-height: gem(48)
				p
					font-size: gem(18)
					line-height: gem(21.6)
					margin-top: gem(30)
					max-width: gem(300)
					margin-bottom: gem(18)
				.button-wrapper
					width: gem(139)
					height: gem(40)
					.button
						font-size: gem(12)
						line-height: gem(13.2)
		.dive-img
			top: 0
			right: gem(-1)
			width: gem(406)
			max-width: unset
	.masterclass
		margin-bottom: gem(62)
		&-section
			flex-direction: column
			&-pics
				// content: ''
				width: 100%
				height: gem(130)
				margin-bottom: gem(27)
				iframe
					width: 100%
					height: 100%
					
			&-text
				width: 100%
				h3
					font-size: gem(27)
					line-height: gem(32.4)
					position: relative
					top: unset
					left: unset
				p
					font-size: gem(17)
					line-height: gem(23.8)
					margin-top: gem(27)
					margin-bottom: gem(41)
				&-bottom
					&-main
						margin-bottom: gem(33)
						&-element
							height: gem(80)
							span.title-h7
								margin-top: gem(16)
								margin-left: gem(15)
								font-size: gem(15)
								line-height: gem(18)
							span.desc-1
								margin-top: gem(10)
								margin-left: gem(15)
								font-size: gem(20)
								line-height: gem(24)
						&-element:nth-child(1)
							width: gem(152)
							margin-right: gem(14)
						&-element:nth-child(2)
							width:	gem(382)
							margin-top: gem(24)
							order: 2
						&-element:nth-child(3)
							width: gem(179)
					&-button
						.button-wrapper
							width: gem(200)
							height: gem(40)
							.button
								font-size: gem(12)
								line-height: gem(13.2)
	.teaching
		margin-bottom: gem(81)
		&-section
			flex-direction: column-reverse
			&-text
				z-index: 5
				margin-right: 0
				position: relative
				margin-top: gem(26)
				h3
					font-size: gem(35)
					line-height: gem(49)
					text-align: center
					position: absolute
					top: gem(-615)
				p
					font-size: gem(15)
					line-height: gem(25)
					margin-bottom: gem(15)
				p:nth-child(3)
					margin-bottom: gem(13)
				&-bottom
					justify-content: center
					// .social
						// margin-left: gem(20)
			&-pics
				position: relative
				right: unset
				left: gem(-15)
				top: 0
				width: gem(375)
				height: gem(469)
				z-index: 4
				margin-top: gem(120)
	.more
		margin-bottom: gem(58)
		&-sticker
			width: gem(105)
			height: gem(105)
			font-size: gem(13)
			line-height: gem(15)
			right: gem(-10)
		&-section
			&-title
				h2
					font-size: gem(35)
					line-height: gem(38.5)
					text-align: center
			&-text
				margin-left: 0
				position: relative
				h3
					font-size: gem(25)
					line-height: gem(30)
					margin-left: gem(84)
					margin-bottom: gem(81)
					z-index: 5
				span
					display: none
				p
					font-size: gem(20)
					line-height: gem(30)
					margin-bottom: gem(44)
					z-index: 5
				.rainbow-tablet
					display: none
				.rainbow-mobile
					display: flex
					width: 110%
					height: auto
					position: absolute
					top: gem(-30)
					left: gem(-20)
					max-width: unset
					z-index: -2
				&-bottom
					justify-content: center
					.button-wrapper
							width: gem(200)
							height: gem(40)
							.button
								font-size: gem(12)
								line-height: gem(13.2)
	.footer
		&-main
			&-stuff
				.title-h10
					margin-bottom: gem(37)
		&-bottom
			&-copyright
				flex-direction: column
				align-items: flex-start
		&-logo
			&-mob
				margin-top: gem(45)
				width: gem(68)
				height: gem(15)
