.dive
	padding-top: gem(103)
	padding-bottom: gem(210)
	margin-top: gem(-141)
	&-section
		display: flex
		justify-content: space-between
		&-text
			display: flex
			flex-direction: column
			max-width: gem(726)
			margin-top: gem(88)
			h1
				line-height: gem(105.6)
				z-index: 2
				color: #E9E9E9

			p
				max-width: gem(525)
				margin-bottom: gem(40)
				margin-top: gem(43)
				line-height: gem(36)
				color: #F4F5F6
				z-index: 2
				.up-text
					font-weight: 600
			.button-wrapper
				height: gem(62)
				width: gem(291)
				z-index: 4
				cursor: pointer
				&.access-wrapper
					height: gem(62)
					width: gem(320)
				span
					z-index: 5
			.button-wrapper:before
				opacity: 0.85
		&-pics
			&-circle
				display: flex
				position: relative
				margin-top: gem(13)
				width: gem(150)
				height: gem(150)
				justify-content: center
				align-items: center
				border-radius: 100%
				z-index: 5
				background: linear-gradient(90.34deg, #FEBD2F 0.33%, #F95721 25.43%, #FC1370 51.09%, #BA2DB2 68.14%, #8342E9 78.65%, #3F89FC 97.57%)
				&:before
					display: block
					content: ''
					width: calc(100% - 4px)
					height: calc(100% - 4px)
					position: relative
					background: var(--color-black)
					border-radius: 100%
					opacity: 0.8
					z-index: 1
				&-text
					position: relative
					top: gem(-107)
					display: flex
					justify-content: center
					align-items: center
					z-index: 6
					span
						max-width: gem(99)
						text-align: center
						font-weight: 500
	.dive-img
		position: absolute
		width: gem(1074)
		height: auto
		top: gem(105)
		right: 0
		// z-index: -1
.masterclass
	background: #111111
	padding-bottom: gem(120)
	&-section
		display: flex
		justify-content: space-between
		&-pics
			display: flex
			width: gem(500)
			height: gem(500)
			iframe
				width: 100%
				height: 100%
		&-text
			display: flex
			flex-direction: column
			width: gem(712)
			h3
				font-weight: 500
				line-height: gem(57)
				color: #F4F5F6

			p
				margin: gem(38) 0
				line-height: gem(28)
				margin-left: gem(5)
				color: #F4F5F6

			&-bottom
				display: flex
				flex-direction: column
				&-main
					display: flex
					margin-bottom: gem(70)
					margin-left: gem(8)
					&-element
						display: flex
						flex-direction: column
						position: relative

						height: gem(96)
						z-index: 5
						padding-right: gem(55)
						margin-left: gem(55)
						border-right: gem(3) solid #D8D8D8
						span
							margin-top: gem(15)
							margin-left: gem(0)
						span.title-h7
							font-size: gem(15)
							line-height: gem(18)
							font-weight: 500
						span.desc-1
							font-size: gem(25)
							line-height: gem(30)
							font-weight: 500
							
					&-element:nth-child(1)
						margin-left: 0 		
					&-element:nth-child(3)
						margin-right: 0 
						border-right: 0
				.button-wrapper
					height: gem(60)
					width: gem(229)
					margin-left: gem(6)
					&.access-wrapper
						height: gem(62)
						width: gem(320)
.teaching
	background: #111111
	margin-bottom: gem(123)
	z-index: 3
	margin-top: gem(25)
	&-section
		display: flex
		justify-content: space-between
		&-pics
			display: flex
			width: gem(500)
			height: gem(625)
			margin-right: gem(-12)
			margin-top: gem(13)
			img
				width: 100%
		&-text
			display: flex
			flex-direction: column
			width: gem(816)
			margin-top: gem(78)
			h3
				font-weight: 500
				font-size: gem(45)
				line-height: gem(63)
				margin-bottom: gem(33)
				color: #F4F5F6
			p
				line-height: gem(32)
				// margin-bottom: gem(31)
				max-width: gem(600)
				color: #F4F5F6
				&:last-of-type
					margin-bottom: gem(40)
			&-bottom
				display: flex
				.social
					display: flex
					flex-direction: row
					a
						display: flex
						margin-right: gem(18)
.more
	&-section
		padding-bottom: gem(70)
		h2
			font-family: var(--sub-font)
			font-size: gem(50)
			line-height: gem(70)
			text-align: center
			color: #F4F5F6
			margin-bottom: gem(68)
		.button-wrapper
			width: gem(290)
			margin: auto
			margin-top: gem(50)
			a
				font-size: gem(20)
				line-height: gem(22)
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: flex-start
	&-left
		width: gem(640)
		display: flex
		position: relative
		img
			width: 100%
			height: 100%
		p
			font-family: var(--sub-font)
			text-transform: uppercase
			font-size: gem(37)
			line-height: gem(52)
			color: #E9E9E9
			position: absolute
			left: gem(39)
			top: gem(131)			
			width: gem(570)
	&-right
		width: gem(628)
		color: #F4F5F6
		p
			&:first-child
				font-family: var(--main-font)
				font-size: gem(23)
				line-height: gem(32)
				margin-top: gem(30)
				margin-bottom: gem(30)
			&:last-child
				font-family: var(--sub-font)
				text-transform: uppercase
				font-size: gem(20)
				line-height: gem(24)
				color: #FC1370
		ul
			padding: 0
			padding-left: gem(60)
			li
				font-family: var(--main-font)
				font-size: gem(23)
				line-height: gem(28)
				margin-bottom: gem(20)
				position: relative
				display: flex
				align-items: center
				&::before
					content: ''
					display: block
					width: gem(13)
					height: gem(11)
					line-height: gem(18)
					background-image: url(../images/dist/check.svg)
					background-repeat: no-repeat
					background-size: 100% 100%
					position: absolute
					left: gem(-30)
					margin-top: gem(2)
				&:last-child
					margin-bottom: gem(38)
