@font-face
    font-family: 'drukwide-bold'
    src: url('./../../fonts/DrukWide-Bold/DrukWide-Bold.woff2') format('woff2'),
    url('./../../fonts/DrukWide-Bold/DrukWide-Bold.woff') format('woff')

@font-face
    font-family: 'drukwide-medium'
    src: url('./../../fonts/DrukWide-Medium/DrukWide-Medium.woff2') format('woff2'),
    url('./../../fonts/DrukWide-Medium/DrukWide-Medium.woff') format('woff')

@font-face
    font-family: 'proximanova-regular'
    src: url('./../../fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2'),
    url('./../../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff')
