@font-face
    font-family: 'drukwide-bold'
    src: url('./../fonts/DrukWide-Bold/DrukWide-Bold.woff2') format('woff2'),
    url('./../fonts/DrukWide-Bold/DrukWide-Bold.woff') format('woff')

@font-face
    font-family: 'drukwide-medium'
    src: url('./../fonts/DrukWide-Medium/DrukWide-Medium.woff2') format('woff2'),
    url('./../fonts/DrukWide-Medium/DrukWide-Medium.woff') format('woff')

@font-face
    font-family: 'opensans-regular'
    src: url('./../fonts/opensans-regular/opensans-regular.woff2') format('woff2'),
    url('./../fonts/opensans-regular/opensans-regular.woff') format('woff')
